@model DBContext.Models.LuckyWheel

@{
ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Edit</h3>
                </div>
                <form asp-action="Edit">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="GroupId" class="control-label"></label>
                            <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                            <span asp-validation-for="GroupId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PartsCount" class="control-label"></label>
                            <input asp-for="PartsCount" class="form-control" />
                            <span asp-validation-for="PartsCount" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Created" />
                        <input type="hidden" asp-for="IsDeleted" />

                    </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a class="btn btn-default float-right" asp-action="Index">
                            Back to List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

