@model DBContext.Models.City

@{
ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Create</h3>
                </div>
                <form asp-action="Create">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="DisplayNameAr" class="control-label"></label>
                                            <input asp-for="DisplayNameAr" class="form-control" />
                                            <span asp-validation-for="DisplayNameAr" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="DisplayName" class="control-label"></label>
                                            <input asp-for="DisplayName" class="form-control" />
                                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                                        </div>
                        </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Submit</button>
                    <a class="btn btn-default float-right" asp-action="Index">
                        Back to List
                    </a>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

